.loginForm {
    max-width: 25rem;
    padding-top: 50vh;
    transform: translateY(-25%);
}
.form-container{
    height: 100vh;
}
.icon{
    width: 1rem;
}

.blink {
    animation: blinker 1s step-start infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }